nano .gitignorei2c_ahb_project.cache/
i2c_ahb_project.hw/
i2c_ahb_project.sim/
i2c_ahb_project.ip_user_files/
*.xpr
*.wcfg
*.log
*.jou
*.backup.*
*.pb
*.wdb
*.str
*~
.Xil/
vivado_pid*/
vivado*.backup.**.log
*.backup.log
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.xpr
*.wcfg
*.log
*.jou
*.backup.*
*.str
*.pb
*.wdb
*~
.Xil/
vivado_pid*/
vivado*.backup.**.backup.jou
*.jou
*.str
*~
.Xil/
vivado_pid*/
vivado*.backup.*
*.wdb
*.pb
xvlog.pb
